/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/04/2017, 20:44:36
    Author     : Alisson Allebrandt
*/

.alinhaColuna{
    
    width: 1px;
    padding: 3px;

}

#loading{

    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: white;
    border-radius: 100%;
    
    //bring in the center
    
    position:fixed;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
    
    animation: round 2s linear infinite; 
    
}

@keyframes round{
    from{transform: rotate(0deg})
    to{transform :rotate(360deg)}
}
