<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-context.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>primafaces.UPLOADER</param-name>
        <param-value>native</param-value>
    </context-param>
    <!--    <error-page>
        Missing login
        <error-code>401</error-code>
        <location>/error-padrao.xhtml</location>
    </error-page>
    <error-page>
        Forbidden directory listing
        <error-code>403</error-code>
        <location>/error-403.xhtml</location>
    </error-page>
    <error-page>
        Missing resource
        <error-code>404</error-code>
        <location>/error-404.xhtml</location>
    </error-page>
    <error-page>
        Uncaught exception
        <error-code>500</error-code>
        <location>/error-padrao.xhtml</location>
    </error-page>
    <error-page>
        Unsupported servlet method
        <error-code>503</error-code>
        <location>/error-padrao.xhtml</location>
    </error-page>-->
    <security-constraint>
        <display-name>admin_access</display-name>
        <web-resource-collection>
            <web-resource-name>capital</web-resource-name>
            <description>Capital humano</description>
            <url-pattern>/ModuloCapitalHumano/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>ficha</web-resource-name>
            <description>Ficha funcional</description>
            <url-pattern>/c_s_b_f_f/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>folha</web-resource-name>
            <description>Folha pagamento</description>
            <url-pattern>/folhapagamento/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>recrutamento</web-resource-name>
            <description>Recrutamento e seleção</description>
            <url-pattern>/recrutamento/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>usuario</web-resource-name>
            <description>Usuários</description>
            <url-pattern>/usuario/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Index</web-resource-name>
            <description>Index</description>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Inicializar sistema</web-resource-name>
            <description>Inicializar sistema</description>
            <url-pattern>/inicializar-sistema.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>folha_access</display-name>
        <web-resource-collection>
            <web-resource-name>folha</web-resource-name>
            <description>Folha de pagamento</description>
            <url-pattern>/folhapagamento/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Index</web-resource-name>
            <description>Index</description>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>FOLHA</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>capital_access</display-name>
        <web-resource-collection>
            <web-resource-name>capital</web-resource-name>
            <description>Capital humano</description>
            <url-pattern>/ModuloCapitalHumano/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Index</web-resource-name>
            <description>Index</description>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>CAPITAL</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>recrutamento_access</display-name>
        <web-resource-collection>
            <web-resource-name>recrutamento</web-resource-name>
            <description>Recrutamento e seleção</description>
            <url-pattern>/recrutamento/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Index</web-resource-name>
            <description>Index</description>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>RECRUTAMENTO</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ficha_access</display-name>
        <web-resource-collection>
            <web-resource-name>ficha</web-resource-name>
            <description>Ficha funcional</description>
            <url-pattern>/c_s_b_f_f/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Index</web-resource-name>
            <description>Index</description>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>FICHA</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error-403.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Administrador do sistema</description>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <description>Folha de pagamento</description>
        <role-name>FOLHA</role-name>
    </security-role>
    <security-role>
        <description>Capital humano</description>
        <role-name>CAPITAL</role-name>
    </security-role>
    <security-role>
        <description>Recrutamento e seleção</description>
        <role-name>RECRUTAMENTO</role-name>
    </security-role>
    <security-role>
        <description>Ficha funcional</description>
        <role-name>FICHA</role-name>
    </security-role>
</web-app>
